<div>
  <div>
    <h2>
      {{'TeamComparison'  | translate}}
    </h2>
  </div>
  <div *ngIf=isLoadingCatalogData>
    <md-spinner></md-spinner>
  </div>
  <div *ngIf=!isLoadingCatalogData>
    <div fxLayout="row">
      <div>
        <h6>{{'Season'  | translate}}</h6>
        <md-select [(ngModel)]="selectedSeason" style="width: 150px; margin-top: 10px">
          <md-option *ngFor="let season of seasons" [value]="season">
            {{season.startYear}} / {{season.startYear+1}}
          </md-option>
        </md-select>
      </div>
    </div>
    <div fxLayout="row" style="margin-top:25px">
      <div>
        <h6>{{'FirstTeam' | translate}}</h6>
        <md-select [(ngModel)]="team1" style="width: 190px">
          <md-option *ngFor="let team of teams | teamsorderby" [value]="team">
            {{team.name}}
          </md-option>
        </md-select>
      </div>
      <div style="margin-left:25px">
        <h6>{{'Second' | translate}}</h6>
        <md-select [(ngModel)]="team2" style="width: 190px">
          <md-option *ngFor="let team of teams | teamsorderby" [value]="team">
            {{team.name}}
          </md-option>
        </md-select>
      </div>
      <div>
        <button md-icon-button class="mat-primary" style="margin-top: 15px; margin-left: 18px" (click)=loadTeamComparison()>
           <md-icon class="icon-size-24">autorenew</md-icon>
         </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf=isLoadingTeamComparison>
  <md-spinner></md-spinner>
</div>
<div *ngIf="teamComparison && !isLoadingTeamComparison" style="margin-top: 15px">
  <div>
    <h3>
      {{'Overview' | translate}}
    </h3>
    <table *ngIf=teamComparison>
      <thead>
        <tr>
          <th style="width: 250px;">
          </th>
          <th style="width: 200px;  text-align: right">
            <h6>{{teamComparison.team1.name}}</h6>
          </th>
          <th style="width: 8px; text-align: center">
          </th>
          <th style="width: 200px">
            <h6>{{teamComparison.team2.name}}</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 250px; text-align: left">{{'Points' | translate}}</td>
          <td style="width: 200px; text-align: right">{{teamComparison.pointsTeam1}}</td>
          <td style="width: 8px; text-align: center">:</td>
          <td style="width: 200px; text-align: left">{{teamComparison.pointsTeam2}}</td>
        </tr>
        <tr>
          <td style="width: 250px; text-align: left">{{'Wins' | translate}}</td>
          <td style="width: 200px; text-align: right">{{teamComparison.winsTeam1}}</td>
          <td style="width: 8px; text-align: center">:</td>
          <td style="width: 200px; text-align: left">{{teamComparison.winsTeam2}}</td>
        </tr>
        <tr>
          <td style="width: 250px; text-align: left">{{'OTWins' | translate}}</td>
          <td style="width: 200px; text-align: right">{{teamComparison.otWinsTeam1}}</td>
          <td style="width: 8px; text-align: center">:</td>
          <td style="width: 200px; text-align: left">{{teamComparison.otWinsTeam2}}</td>
        </tr>
        <tr>
          <td style="width: 250px; text-align: left">{{'PSWins' | translate}}</td>
          <td style="width: 200px; text-align: right">{{teamComparison.psWinsTeam1}}</td>
          <td style="width: 8px; text-align: center">:</td>
          <td style="width: 200px; text-align: left">{{teamComparison.psWinsTeam2}}</td>
        </tr>
         <tr>
          <td style="width: 250px; text-align: left">{{'Goals' | translate}}</td>
          <td style="width: 200px; text-align: right">{{teamComparison.goalsTeam1}}</td>
          <td style="width: 8px; text-align: center">:</td>
          <td style="width: 200px; text-align: left">{{teamComparison.goalsTeam2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h3>
      {{'Games' | translate}}
    </h3>
    <table>
      <thead>
        <tr>
          <th style="width: 150px">
            <h6>{{'Date' | translate}}</h6>
          </th>
          <th style="width: 200px">
            <h6>{{'Hometeam' | translate}}</h6>
          </th>
          <th style="width: 200px">
            <h6>{{'Guestteam' | translate}}</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>{{'Result' | translate}}</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>{{'OTResult' | translate}}</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>{{'PSResult' | translate}}</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of teamComparison.gamesPlayed | gamesorderby">
          <td style="width: 150px">{{game.date | date: 'dd.MM.yyyy' }} </td>
          <td style="width: 200px">{{game.homeTeam.name}} </td>
          <td style="width: 200px">{{game.guestTeam.name}} </td>
          <td style="width: 70px; text-align: center">{{game.homeScore}} : {{game.guestScore}}</td>
          <td style="width: 70px; text-align: center">{{game.otHomeScore}} : {{game.otGuestScore}}</td>
          <td style="width: 70px; text-align: center">{{game.psHomeScore}} : {{game.psGuestScore}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>