<div>
  <div>
    <h2>
      Direktvergleich
    </h2>
  </div>
  <div *ngIf=isLoadingCatalogData>
    <md-spinner></md-spinner>
  </div>
  <div *ngIf=!isLoadingCatalogData>
    <div fxLayout="row">
      <div>
        <h6>Saison</h6>
        <md-select [(ngModel)]="selectedSeason" (change)="selectedSeasonChanged()" style="width: 150px; margin-top: 10px">
          <md-option *ngFor="let season of seasons" [value]="season">
            {{season.StartYear}} / {{season.StartYear+1}}
          </md-option>
        </md-select>
      </div>
    </div>
    <div fxLayout="row" style="margin-top:25px">
      <div>
        <h6>Team 1</h6>
        <md-select [(ngModel)]="team1" style="width: 190px">
          <md-option *ngFor="let team of teams | teamsorderby" [value]="team">
            {{team.Name}}
          </md-option>
        </md-select>
      </div>
      <div style="margin-left:25px">
        <h6>Team 2</h6>
        <md-select [(ngModel)]="team2" style="width: 190px">
          <md-option *ngFor="let team of teams | teamsorderby" [value]="team">
            {{team.Name}}
          </md-option>
        </md-select>
      </div>
      <div>
        <button md-icon-button class="mat-primary" style="margin-top: 20px; margin-left: 18px" (click)=loadTeamComparison()>
           <md-icon class="icon-size-24">autorenew</md-icon>
         </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf=isLoadingTeamComparison>
  <md-spinner></md-spinner>
</div>
<div *ngIf="!isLoadingTeamComparison && teamComparison" style="margin-top: 15px">
  <div>
    <h3>
      Übersicht
    </h3>
    <table *ngIf=loadTeamComparison>
      <thead>
        <tr>
          <th style="width: 250px;">
          </th>
          <th style="width: 200px;  text-align: right">
            <h6>{{teamComparison.Team1.Name}}</h6>
          </th>
          <th style="width: 8px; text-align: center">
          </th>
          <th style="width: 200px">
            <h6>{{teamComparison.Team2.Name}}</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 250px; text-align: left">Punkte</td>
          <td style="width: 200px; text-align: right">{{teamComparison.PointsTeam1}}</td>
          <td style="width: 8px; text-align: center">:</td>
          <td style="width: 200px; text-align: left">{{teamComparison.PointsTeam2}}</td>
        </tr>
        <tr>
          <td style="width: 250px; text-align: left">Siege</td>
          <td style="width: 200px; text-align: right">{{teamComparison.WinsTeam1}}</td>
          <td style="width: 8px; text-align: center">:</td>
          <td style="width: 200px; text-align: left">{{teamComparison.WinsTeam2}}</td>
        </tr>
        <tr>
          <td style="width: 250px; text-align: left">Siege n.V.</td>
          <td style="width: 200px; text-align: right">{{teamComparison.OTWinsTeam1}}</td>
          <td style="width: 8px; text-align: center">:</td>
          <td style="width: 200px; text-align: left">{{teamComparison.OTWinsTeam2}}</td>
        </tr>
        <tr>
          <td style="width: 250px; text-align: left">Siege n.P.</td>
          <td style="width: 200px; text-align: right">{{teamComparison.PSWinsTeam1}}</td>
          <td style="width: 8px; text-align: center">:</td>
          <td style="width: 200px; text-align: left">{{teamComparison.PSWinsTeam2}}</td>
        </tr>
         <tr>
          <td style="width: 250px; text-align: left">Tore</td>
          <td style="width: 200px; text-align: right">{{teamComparison.GoalsTeam1}}</td>
          <td style="width: 8px; text-align: center">:</td>
          <td style="width: 200px; text-align: left">{{teamComparison.GoalsTeam2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h3>
      Spiele
    </h3>
    <table>
      <thead>
        <tr>
          <th style="width: 150px">
            <h6>Datum</h6>
          </th>
          <th style="width: 200px">
            <h6>Heimteam</h6>
          </th>
          <th style="width: 200px">
            <h6>Gastteam</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>Ergebnis</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>n. V.</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>n. P.</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of teamComparison.GamesPlayed">
          <td style="width: 150px">{{game.Date | date: 'dd.MM.yyyy' }} </td>
          <td style="width: 200px">{{game.HomeTeam.Name}} </td>
          <td style="width: 200px">{{game.GuestTeam.Name}} </td>
          <td style="width: 70px; text-align: center">{{game.HomeScore}} : {{game.GuestScore}}</td>
          <td style="width: 70px; text-align: center">{{game.OTHomeScore}} : {{game.OTGuestScore}}</td>
          <td style="width: 70px; text-align: center">{{game.PSHomeScore}} : {{game.PSGuestScore}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>