@import "theme";
// You can add global styles to this file that will cascade like normal CSS

// Active icon color in list nav
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: mat-color($accent);
}

.mat-checkbox-indeterminate.mat-warn .mat-checkbox-background, .mat-checkbox-checked.mat-warn .mat-checkbox-background{
    background-color: mat-color($warn);
}

.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background{
    background-color: mat-color($primary);
}

.primary-color{
  background: mat-color($primary);
  color: mat-contrast($primary, 400);
}

.accent-color{
  background: mat-color($accent);
  color: mat-contrast($accent, 500);
}

.warn-color{
  background: mat-color($warn);
  color: mat-contrast($warn, 500);
}

.mat-dialog-container{
  background: mat-color($background);
}

.mat-select-content{
  background: mat-color($background);
}

.md2-datepicker-header{
  background: map-get($primary, 400) !important;
}

.md2-calendar-day.selected, .md2-calendar-day.selected:hover{
   background: map-get($primary, 400) !important;
}

.md2-datepicker-content{
  background: mat-color($background);
}

md2-datepicker:focus:not(.md2-datepicker-disabled) .md2-datepicker-input{
   color: mat-color($primary) !important;
   border-color: mat-color($primary) !important;
}

md2-datepicker:focus:not(.md2-datepicker-disabled) .md2-datepicker-arrow{
   color: mat-color($primary) !important;
}

.md2-datepicker-actions .md2-button{
  background: mat-color($primary) !important;
  color: mat-contrast($primary, 400) !important;
}
