<div>
  <div>
    <h2>
      {{'GameResults' | translate}}
    </h2>
  </div>
  <div *ngIf=isLoadingCatalogData>
    <md-spinner></md-spinner>
  </div>
  <div *ngIf=!isLoadingCatalogData>
    <div>
      <h6>{{'Season' | translate}}</h6>
      <md-select [(ngModel)]="selectedSeason" (change)="selectedSeasonChanged()" style="width: 150px; margin-top: 10px">
        <md-option *ngFor="let season of seasons" [value]="season">
          {{season.startYear}} / {{season.startYear+1}}
        </md-option>
      </md-select>
    </div>
  </div>
  <div *ngIf=isLoadingGames>
    <md-spinner></md-spinner>
  </div>
  <div *ngIf=!isLoadingGames style="margin-top: 15px">
    <table *ngIf=!isAdmin>
      <thead>
        <tr>
          <th style="width: 150px">
            <h6>{{'Date' | translate}}</h6>
          </th>
          <th style="width: 200px">
            <h6>{{'Hometeam' | translate}}</h6>
          </th>
          <th style="width: 200px">
            <h6>{{'Guestteam' | translate}}</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>{{'Result' | translate}}</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>{{'OTResult' | translate}}</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>{{'PSResult' | translate}}</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games">
          <td style="width: 150px">{{game.date | date: 'dd.MM.yyyy' }} </td>
          <td style="width: 200px">{{game.homeTeam.name}} </td>
          <td style="width: 200px">{{game.guestTeam.name}} </td>
          <td style="width: 70px; text-align: center">{{game.homeScore}} : {{game.guestScore}}</td>
          <td style="width: 70px; text-align: center">{{game.otHomeScore}} : {{game.otGuestScore}}</td>
          <td style="width: 70px; text-align: center">{{game.psHomeScore}} : {{game.psGuestScore}}</td>
        </tr>
      </tbody>
    </table>

    <table *ngIf="(isAdmin && teams && seasons)">
      <thead>
        <tr>
          <th style="width: 150px">
            <h6>{{'Date' | translate}}</h6>
          </th>
          <th style="width: 200px">
            <h6>{{'Hometeam' | translate}}</h6>
          </th>
          <th style="width: 200px">
            <h6>{{'Guestteam' | translate}}</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>{{'Result' | translate}}</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>{{'OTResult' | translate}}</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>{{'PSResult' | translate}}</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 150px">
            <md2-datepicker class="datepickerWidth" [(ngModel)]="newGame.date" format="dd.MM.y"></md2-datepicker>
          </td>
          <td style="width: 200px">
            <md-select [(ngModel)]="newGame.homeTeam" style="width: 190px">
              <md-option *ngFor="let team of teams | teamsorderby" [value]="team">
                {{team.name}}
              </md-option>
            </md-select>
          </td>
          <td style="width: 200px">
            <md-select [(ngModel)]="newGame.guestTeam" style="width: 190px">
              <md-option *ngFor="let team of teams | teamsorderby" [value]="team">
                {{team.name}}
              </md-option>
            </md-select>
          </td>
          <td style="width: 70px; text-align: center">
            <md-input-container>
              <div fxLayout="row">
                <input mdInput [(ngModel)]="newGame.homeScore" style="width: 10px" (ngModelChange)="newGame.homeScore = convertToNumber($event)">
              </div>
            </md-input-container> :
            <md-input-container>
              <div fxLayout="row">
                <input mdInput [(ngModel)]="newGame.guestScore" style="width: 10px" (ngModelChange)="newGame.guestScore = convertToNumber($event)">
              </div>
            </md-input-container>
          </td>
          <td style="width: 70px; text-align: center">
            <md-input-container>
              <div fxLayout="row">
                <input mdInput [(ngModel)]="newGame.otHomeScore" style="width: 10px" (ngModelChange)="newGame.otHomeScore = convertToNumber($event)">
              </div>
            </md-input-container> :
            <md-input-container>
              <div fxLayout="row">
                <input mdInput [(ngModel)]="newGame.otGuestScore" style="width: 10px" (ngModelChange)="newGame.otGuestScore = convertToNumber($event)">
              </div>
            </md-input-container>
          </td>
          <td style="width: 70px; text-align: center">
            <md-input-container>
              <div fxLayout="row">
                <input mdInput [(ngModel)]="newGame.psHomeScore" style="width: 10px" (ngModelChange)="newGame.psHomeScore = convertToNumber($event)">
              </div>
            </md-input-container> :
            <md-input-container>
              <div fxLayout="row">
                <input mdInput [(ngModel)]="newGame.psGuestScore" style="width: 10px" (ngModelChange)="newGame.psGuestScore = convertToNumber($event)">
              </div>
            </md-input-container>
          </td>
          <td>
            <button md-icon-button class="mat-accent buttonTableAlignment" (click)=addGame()>
                  <md-icon class="icon-size-24">save</md-icon>
                </button>
          </td>
        </tr>
        <tr *ngFor="let game of games">
          <td style="width: 150px">
            <md2-datepicker class="datepickerWidth" [(ngModel)]="game.date" format="dd.MM.y"></md2-datepicker>
          </td>
          <td style="width: 200px">
            <md-select [(ngModel)]="game.homeTeam" style="width: 190px">
              <md-option *ngFor="let team of teams | teamsorderby" [value]="team">
                {{team.name}}
              </md-option>
            </md-select>
          </td>
          <td style="width: 200px">
            <md-select [(ngModel)]="game.guestTeam" style="width: 190px">
              <md-option *ngFor="let team of teams" [value]="team">
                {{team.name}}
              </md-option>
            </md-select>
          </td>
          <td style="width: 70px; text-align: center">
            <md-input-container>
              <div fxLayout="row">
                <input mdInput [(ngModel)]="game.homeScore" style="width: 10px" (ngModelChange)="game.homeScore = convertToNumber($event)">
              </div>
            </md-input-container> :
            <md-input-container>
              <div fxLayout="row">
                <input mdInput [(ngModel)]="game.guestScore" style="width: 10px" (ngModelChange)="game.guestScore = convertToNumber($event)">
              </div>
            </md-input-container>
          </td>
          <td style="width: 70px; text-align: center">
            <md-input-container>
              <div fxLayout="row">
                <input mdInput [(ngModel)]="game.otHomeScore" style="width: 10px" (ngModelChange)="game.otHomeScore = convertToNumber($event)">
              </div>
            </md-input-container> :
            <md-input-container>
              <div fxLayout="row">
                <input mdInput [(ngModel)]="game.otGuestScore" style="width: 10px" (ngModelChange)="game.otGuestScore = convertToNumber($event)">
              </div>
            </md-input-container>
          </td>
          <td style="width: 70px; text-align: center">
            <md-input-container>
              <div fxLayout="row">
                <input mdInput [(ngModel)]="game.psHomeScore" style="width: 10px" (ngModelChange)="game.psHomeScore = convertToNumber($event)">
              </div>
            </md-input-container> :
            <md-input-container>
              <div fxLayout="row">
                <input mdInput [(ngModel)]="game.psGuestScore" style="width: 10px" (ngModelChange)="game.psGuestScore = convertToNumber($event)">
              </div>
            </md-input-container>
          </td>
          <td>
            <button md-icon-button class="mat-accent buttonTableAlignment" (click)=updateGame(game)>
                  <md-icon class="icon-size-24">save</md-icon>
                </button>
          </td>
          <td>
            <button md-icon-button class="mat-warn buttonTableAlignment" (click)=deleteGame(game)>
                  <md-icon class="icon-size-24">delete</md-icon>
                </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div fxLayout="row" style="width: 750px">
    <div fxFlex> </div>
    <button md-icon-button class="mat-primary" (click)=previousPage()>
          <md-icon class="icon-size-42">chevron_left</md-icon>
        </button>
    <div style="font-size: 16px; margin-top:12px; margin-left:15px"> {{currentPage + 1}} / {{totalPages}} </div>
    <button md-icon-button class="mat-primary" (click)=nextPage()>
          <md-icon class="icon-size-42">chevron_right</md-icon>
        </button>
    <div fxFlex></div>
  </div>
</div>