<div fxLayout="column">
  <div fxLayout="row">
    <h2>
      {{'ListOfSeasons' | translate}}
    </h2>
  </div>
  <div fxLayout="row" *ngIf=isLoading>
    <md-spinner></md-spinner>
  </div>
  <div fxLayout="row" *ngIf=!isLoading>
    <table *ngIf=!isAdmin>
      <thead>
        <tr>
          <th style="width: 150px">
            <h6>{{'Season' | translate}}</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let season of seasons | seasonsorderby">
          <td style="width: 150px">{{season.startYear}} / {{season.startYear+1}}</td>
        </tr>
      </tbody>
    </table>

    <table *ngIf="(isAdmin && seasons)" style="width: 250px">
      <thead>
        <tr>
          <th style="width: 120px">
            <h6>{{'Season' | translate}}</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 120px">
            <md-input-container >
              <span>
                <input mdInput [(ngModel)]="newSeason.startYear" style="width: 50px" (ngModelChange)="newSeason.startYear = convertToNumber($event)" ><span style="width: 50px"> / {{newSeason.startYear+1}}</span>
              </span>
            </md-input-container>
          </td>
          <td>
            <button md-icon-button class="mat-accent buttonTableAlignment" (click)=addSeason()>
              <md-icon class="icon-size-24">save</md-icon>
            </button>
          </td>
        </tr>
        <tr *ngFor="let season of seasons | seasonsorderby">
          <td style="width: 120px">
            <md-input-container >
              <div fxLayout="row">
                <input mdInput [(ngModel)]="season.startYear" style="width: 50px" (ngModelChange)="season.startYear = convertToNumber($event)"><span style="width: 50px"> / {{season.startYear+1}} </span>
              </div>
            </md-input-container>
          </td>
          <td>
            <button md-icon-button class="mat-accent buttonTableAlignment" (click)=updateSeason(season)>
              <md-icon class="icon-size-24">save</md-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>