<div>
  <div>
    <h2>
      {{'Standings' | translate}}
    </h2>
  </div>
  <div *ngIf=isLoadingCatalogData>
    <md-spinner></md-spinner>
  </div>
  <div *ngIf=!isLoadingCatalogData>
    <div fxLayout="row">
      <div>
        <h6>{{'Season' | translate}}</h6>
        <md-select [(ngModel)]="selectedSeason" style="width: 150px; margin-top: 10px">
          <md-option *ngFor="let season of seasons" [value]="season">
            {{season.startYear}} / {{season.startYear+1}}
          </md-option>
        </md-select>
      </div>
      <div style="margin-left:25px">
        <h6>{{'Date' | translate}}</h6>
        <md2-datepicker class="datepickerWidth" [(ngModel)]="date" format="dd.MM.y"></md2-datepicker>
      </div>
      <div>
        <button md-icon-button class="mat-primary" style="margin-top: 20px; margin-left: 45px" (click)=loadStandings()>
           <md-icon class="icon-size-24">autorenew</md-icon>
         </button>
      </div>
    </div>
  </div>
  <div *ngIf=isLoadingStandings>
    <md-spinner></md-spinner>
  </div>
  <div *ngIf=!isLoadingStandings style="margin-top: 15px">
    <table *ngIf=standings>
      <thead>
        <tr>
          <th style="width: 20px; text-align: right">
            <h6>{{'RankShort'  | translate}}</h6>
          </th>
          <th style="width: 5px"></th>
          <th style="width: 200px">
            <h6>{{'Team' | translate}}</h6>
          </th>
          <th style="width: 80px; text-align: center">
            <h6>{{'GamesShort' | translate}}</h6>
          </th>
          <th style="width: 80px; text-align: center">
            <h6>{{'WinsShort' | translate}}</h6>
          </th>
          <th style="width: 80px; text-align: center">
            <h6>{{'OTWinsShort' | translate}}</h6>
          </th>
          <th style="width: 80px; text-align: center">
            <h6>{{'OTLossesShort' | translate}}</h6>
          </th>
          <th style="width: 80px; text-align: center">
            <h6>{{'LossesShort' | translate}}</h6>
          </th>
          <th style="width: 22px; text-align: center">
            <h6></h6>
          </th>
          <th style="width: 8px; text-align: center">
            <h6>{{'GoalDifferenceShort' | translate}}</h6>
          </th>
          <th style="width: 22px; text-align: center">
            <h6></h6>
          </th>
          <th style="width: 80px; text-align: center">
            <h6>{{'PointsShort' | translate}}</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let standingsEntry of standings.entries" [ngClass]="{qualificationLine: standingsEntry.position==8 , qualificationLine2:standingsEntry.position==9}">
          <td style="width: 20px; text-align: right" [ngClass]="{aboveQualificationLine: standingsEntry.position==8 , underneathQualificationLine: standingsEntry.position==9}">{{standingsEntry.position}}.</td>
          <td style="width: 5px" [ngClass]="{aboveQualificationLine: standingsEntry.position==8 , underneathQualificationLine: standingsEntry.position==9}"></td>
          <td style="width: 200px" [ngClass]="{aboveQualificationLine: standingsEntry.position==8 , underneathQualificationLine: standingsEntry.position==9}">{{standingsEntry.team.name}}</td>
          <td style="width: 80px; text-align: center" [ngClass]="{aboveQualificationLine: standingsEntry.position==8 , underneathQualificationLine: standingsEntry.position==9}">{{standingsEntry.gamesPlayed}}</td>
          <td style="width: 80px; text-align: center" [ngClass]="{aboveQualificationLine: standingsEntry.position==8 , underneathQualificationLine: standingsEntry.position==9}">{{standingsEntry.wins}}</td>
          <td style="width: 80px; text-align: center" [ngClass]="{aboveQualificationLine: standingsEntry.position==8 , underneathQualificationLine: standingsEntry.position==9}">{{standingsEntry.otWins}}</td>
          <td style="width: 80px; text-align: center" [ngClass]="{aboveQualificationLine: standingsEntry.position==8 , underneathQualificationLine: standingsEntry.position==9}">{{standingsEntry.otLosses}}</td>
          <td style="width: 80px; text-align: center" [ngClass]="{aboveQualificationLine: standingsEntry.position==8 , underneathQualificationLine: standingsEntry.position==9}">{{standingsEntry.losses}}</td>
          <td style="width: 22px; text-align: right" [ngClass]="{aboveQualificationLine: standingsEntry.position==8 , underneathQualificationLine: standingsEntry.position==9}">{{standingsEntry.goalsScored}} </td>
          <td style="width: 8px; text-align: center" [ngClass]="{aboveQualificationLine: standingsEntry.position==8 , underneathQualificationLine: standingsEntry.position==9}">:</td>
          <td style="width: 22px; text-align: right" [ngClass]="{aboveQualificationLine: standingsEntry.position==8 , underneathQualificationLine: standingsEntry.position==9}">{{standingsEntry.goalsScoredAgainst}}</td>
          <td style="width: 80px; text-align: center" [ngClass]="{aboveQualificationLine: standingsEntry.position==8 , underneathQualificationLine: standingsEntry.position==9}">{{standingsEntry.points}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin-top: 80px">
    <p style="font-size:0.8em">{{'StandingsExplanation' | translate}}</p>
  </div>
</div>