<div>
  <div>
    <h2>
      {{'SeasonStatistics' | translate}}
    </h2>
  </div>
  <div *ngIf=isLoadingCatalogData>
    <md-spinner></md-spinner>
  </div>
  <div *ngIf=!isLoadingCatalogData>
    <div fxLayout="row">
      <div>
        <h6>{{'Season' | translate}}</h6>
        <md-select [(ngModel)]="selectedSeason" style="width: 150px; margin-top: 10px">
          <md-option *ngFor="let season of seasons" [value]="season">
            {{season.startYear}} / {{season.startYear+1}}
          </md-option>
        </md-select>
      </div>
      <button md-icon-button class="mat-primary" style="margin-top: 25px; margin-left: 18px" (click)=loadSeasonStatistics()>
           <md-icon class="icon-size-24">autorenew</md-icon>
         </button>
    </div>
  </div>
  <div *ngIf=isLoadingSeasonStatistics>
    <md-spinner></md-spinner>
  </div>
  <div *ngIf="seasonStatistics && !isLoadingSeasonStatistics" style="margin-top: 15px">
    <div>
      <h3>
        {{'State' | translate}}
      </h3>
      <table *ngIf=seasonStatistics>
        <thead>
          <tr>
            <th style="width: 220px;">
            </th>
            <th style="width: 100px;  text-align: center">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 220px; text-align: left">{{'GamesPlayed' | translate}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.gamesPlayed}}</td>
          </tr>
          <tr>
            <td style="width: 220px; text-align: left">{{'Completion' | translate}}</td>
            <td style="width: 100px; text-align: center; padding-left: 15px">{{seasonStatistics.completion | number:number: '1.0-0'}} %</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h3>
        {{'Results' | translate}}
      </h3>
      <table *ngIf=seasonStatistics>
        <thead>
          <tr>
            <th style="width: 220px;">
            </th>
            <th style="width: 100px;  text-align: center">
              <h6>{{'Total' | translate}}</h6>
            </th>
            <th style="width: 100px;  text-align: center">
              <h6>{{'Percent' | translate}}</h6>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 220px; text-align: left">{{'DecidedInNormalTime' | translate}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.gamesDecidedInNormalTime}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.gamesDecidedInNormalTimePercent | number: '1.0-0'}} %</td>
          </tr>
          <tr>
            <td style="width: 220px; text-align: left">{{'DecidedInOverTime' | translate}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.gamesDecidedInOverTime}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.gamesDecidedInOverTimePercent | number: '1.0-0'}} %</td>
          </tr>
          <tr>
            <td style="width: 220px; text-align: left">{{'DecidedInPenaltyShots' | translate}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.gamesDecidedInPenaltyShots}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.gamesDecidedInPenaltyShotsPercent | number: '1.0-0'}} %</td>
          </tr>
          <tr>
            <td style="width: 220px; text-align: left">{{'HomeWins' | translate}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.homeWins}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.homeWinsPercent | number: '1.0-0'}} %</td>
          </tr>
          <tr>
            <td style="width: 220px; text-align: left">{{'GuestWins' | translate}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.guestWins}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.guestWinsPercent | number: '1.0-0'}} %</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h3>
        {{'Statistics' | translate}}
      </h3>
      <table *ngIf=seasonStatistics>
        <thead>
          <tr>
            <th style="width: 220px;">
            </th>
            <th style="width: 100px;  text-align: center">
              <h6>{{'Total' | translate}}</h6>
            </th>
            <th style="width: 100px;  text-align: center">
              <h6>{{'PerGame' | translate}}</h6>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 220px; text-align: left">{{'PointsHomeTeam' | translate}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.homePoints}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.homePointsPerGame | number: '1.1-1'}}</td>
          </tr>
          <tr>
            <td style="width: 220px; text-align: left">{{'PointsGuestTeam' | translate}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.guestPoints}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.guestPointsPerGame | number: '1.1-1'}}</td>
          </tr>
          <tr>
            <td style="width: 220px; text-align: left">{{'Goals' | translate}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.goalsScored}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.goalsScoredPerGame | number: '1.1-1'}}</td>
          </tr>
          <tr>
            <td style="width: 220px; text-align: left">{{'GoalsHomeTeam' | translate}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.homeGoalsScored}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.homeGoalsScoredPerGame | number: '1.1-1'}}</td>
          </tr>
          <tr>
            <td style="width: 220px; text-align: left">{{'GoalsGuestTeam' | translate}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.guestGoalsScored}}</td>
            <td style="width: 100px; text-align: center">{{seasonStatistics.guestGoalsScoredPerGame | number: '1.1-1'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>