<div>
  <div>
    <h2>
      {{'TeamStatistics' | translate}}
    </h2>
  </div>
  <div *ngIf=isLoadingCatalogData>
    <md-spinner></md-spinner>
  </div>
  <div *ngIf=!isLoadingCatalogData>
    <div fxLayout="row">
      <div>
        <h6>{{'Season' | translate}}</h6>
        <md-select [(ngModel)]="selectedSeason" style="width: 150px; margin-top: 10px">
          <md-option *ngFor="let season of seasons" [value]="season">
            {{season.StartYear}} / {{season.StartYear+1}}
          </md-option>
        </md-select>
      </div>
    </div>
    <div fxLayout="row" style="margin-top:25px">
      <div>
        <h6>{{'Team' | translate}}</h6>
        <md-select [(ngModel)]="selectedTeam" style="width: 190px">
          <md-option *ngFor="let team of teams | teamsorderby" [value]="team">
            {{team.Name}}
          </md-option>
        </md-select>
      </div>
      <div>
        <button md-icon-button class="mat-primary" style="margin-top: 15px; margin-left: 18px" (click)=loadTeamStatistics()>
           <md-icon class="icon-size-24">autorenew</md-icon>
         </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf=isLoadingTeamStatistics>
  <md-spinner></md-spinner>
</div>
<div *ngIf="!isLoadingTeamStatistics && teamStatistics" style="margin-top: 15px">
  <div>
    <h3>
      {{'Results' | translate}}
    </h3>
    <table *ngIf=loadTeamStatistics>
      <thead>
        <tr>
          <th style="width: 150px;">
          </th>
          <th style="width: 100px;  text-align: center">
            <h6>{{'Total' | translate}}</h6>
          </th>
          <th style="width: 100px;  text-align: center">
            <h6>{{'Percent' | translate}}</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 150px; text-align: left">{{'Games' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.Points}}</td>
          <td style="width: 100px; text-align: center"></td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: left">{{'Wins' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.Wins}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.WinsPercent | number: '1.1-1'}}</td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: left">{{'OTWins' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.OTWins}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.OTWinsPercent | number: '1.1-1'}}</td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: left">{{'PSWins' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.PSWins}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.PSWinsPercent | number: '1.1-1'}}</td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: left">{{'Losses' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.Losses}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.LossesPercent | number: '1.1-1'}}</td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: left">{{'OTLosses' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.OTLosses}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.OTLossesPercent | number: '1.1-1'}}</td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: left">{{'PSLosses' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.PSLosses}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.PSLossesPercent | number: '1.1-1'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h3>
      {{'Statistics' | translate}}
    </h3>
    <table *ngIf=loadTeamStatistics>
      <thead>
        <tr>
          <th style="width: 150px;">
          </th>
          <th style="width: 100px;  text-align: center">
            <h6>{{'Total' | translate}}</h6>
          </th>
          <th style="width: 100px;  text-align: center">
            <h6>{{'PerGame' | translate}}</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 150px; text-align: left">{{'Points' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.Points}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.PointsPerGame | number: '1.1-1'}}</td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: left">{{'Goals' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.GoalsScored}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.GoalsScoredPerGame | number: '1.1-1'}}</td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: left">{{'GoalsAgainst' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.GoalsScoredAgainst}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.GoalsScoredAgainstPerGame | number: '1.1-1'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h3>
      {{'Games' | translate}}
    </h3>
    <table>
      <thead>
        <tr>
          <th style="width: 150px">
            <h6>{{'Date' | translate}}</h6>
          </th>
          <th style="width: 200px">
            <h6>{{'Hometeam' | translate}}</h6>
          </th>
          <th style="width: 200px">
            <h6>{{'Guestteam' | translate}}</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>{{'Result' | translate}}</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>{{'OTResult' | translate}}</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>{{'PSResult' | translate}}</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of teamStatistics.GamesPlayed | gamesorderby">
          <td style="width: 150px">{{game.Date | date: 'dd.MM.yyyy' }} </td>
          <td style="width: 200px">{{game.HomeTeam.Name}} </td>
          <td style="width: 200px">{{game.GuestTeam.Name}} </td>
          <td style="width: 70px; text-align: center">{{game.HomeScore}} : {{game.GuestScore}}</td>
          <td style="width: 70px; text-align: center">{{game.OTHomeScore}} : {{game.OTGuestScore}}</td>
          <td style="width: 70px; text-align: center">{{game.PSHomeScore}} : {{game.PSGuestScore}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>