<div>
  <div>
    <h2>
      {{'TeamStatistics' | translate}}
    </h2>
  </div>
  <div *ngIf=isLoadingCatalogData>
    <md-spinner></md-spinner>
  </div>
  <div *ngIf=!isLoadingCatalogData>
    <div fxLayout="row">
      <div>
        <h6>{{'Season' | translate}}</h6>
        <md-select [(ngModel)]="selectedSeason" style="width: 150px; margin-top: 10px">
          <md-option *ngFor="let season of seasons" [value]="season">
            {{season.startYear}} / {{season.startYear+1}}
          </md-option>
        </md-select>
      </div>
    </div>
    <div fxLayout="row" style="margin-top:25px">
      <div>
        <h6>{{'Team' | translate}}</h6>
        <md-select [(ngModel)]="selectedTeam" style="width: 190px">
          <md-option *ngFor="let team of teams | teamsorderby" [value]="team">
            {{team.name}}
          </md-option>
        </md-select>
      </div>
      <div>
        <button md-icon-button class="mat-primary" style="margin-top: 15px; margin-left: 18px" (click)=loadTeamStatistics()>
           <md-icon class="icon-size-24">autorenew</md-icon>
         </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf=isLoadingTeamStatistics>
  <md-spinner></md-spinner>
</div>
<div *ngIf="teamStatistics && !isLoadingTeamStatistics" style="margin-top: 15px">
  <div>
    <h3>
      {{'Results' | translate}}
    </h3>
    <table *ngIf=teamStatistics>
      <thead>
        <tr>
          <th style="width: 150px;">
          </th>
          <th style="width: 100px;  text-align: center">
            <h6>{{'Total' | translate}}</h6>
          </th>
          <th style="width: 100px;  text-align: center">
            <h6>{{'Percent' | translate}}</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 150px; text-align: left">{{'Games' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.gamesPlayed.length}}</td>
          <td style="width: 100px; text-align: center"></td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: left">{{'Wins' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.wins}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.winsPercent | number: '1.0-0'}} % </td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: left">{{'OTWins' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.otWins}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.otWinsPercent | number: '1.0-0'}} %</td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: left">{{'PSWins' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.psWins}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.psWinsPercent | number: '1.0-0'}} %</td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: left">{{'Losses' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.losses}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.lossesPercent | number: '1.0-0'}} %</td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: left">{{'OTLosses' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.otLosses}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.otLossesPercent | number: '1.0-0'}} %</td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: left">{{'PSLosses' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.psLosses}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.psLossesPercent | number: '1.0-0'}} %</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h3>
      {{'Statistics' | translate}}
    </h3>
    <table *ngIf=teamStatistics>
      <thead>
        <tr>
          <th style="width: 150px;">
          </th>
          <th style="width: 100px;  text-align: center">
            <h6>{{'Total' | translate}}</h6>
          </th>
          <th style="width: 100px;  text-align: center">
            <h6>{{'PerGame' | translate}}</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 150px; text-align: left">{{'Points' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.points}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.pointsPerGame | number: '1.1-1'}}</td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: left">{{'Goals' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.goalsScored}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.goalsScoredPerGame | number: '1.1-1'}}</td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: left">{{'GoalsAgainst' | translate}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.goalsScoredAgainst}}</td>
          <td style="width: 100px; text-align: center">{{teamStatistics.goalsScoredAgainstPerGame | number: '1.1-1'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h3>
      {{'Games' | translate}}
    </h3>
    <table>
      <thead>
        <tr>
          <th style="width: 150px">
            <h6>{{'Date' | translate}}</h6>
          </th>
          <th style="width: 200px">
            <h6>{{'Hometeam' | translate}}</h6>
          </th>
          <th style="width: 200px">
            <h6>{{'Guestteam' | translate}}</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>{{'Result' | translate}}</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>{{'OTResult' | translate}}</h6>
          </th>
          <th style="width: 70px; text-align: center">
            <h6>{{'PSResult' | translate}}</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of teamStatistics.gamesPlayed | gamesorderby">
          <td style="width: 150px">{{game.date | date: 'dd.MM.yyyy' }} </td>
          <td style="width: 200px">{{game.homeTeam.name}} </td>
          <td style="width: 200px">{{game.guestTeam.name}} </td>
          <td style="width: 70px; text-align: center">{{game.homeScore}} : {{game.guestScore}}</td>
          <td style="width: 70px; text-align: center">{{game.otHomeScore}} : {{game.otGuestScore}}</td>
          <td style="width: 70px; text-align: center">{{game.psHomeScore}} : {{game.psGuestScore}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>